<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>378708515483-hr21n6iipqq8b6kcb5u40noalf1p1m7o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378708515483-hr21n6iipqq8b6kcb5u40noalf1p1m7o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>378708515483-g2mrf79380hdm8045g0iojmkfu5eoti5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBWdsuzHdctm4P_rkeDEg9uJK3j7fFx_cI</string>
	<key>GCM_SENDER_ID</key>
	<string>378708515483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elaniin.brbr.client.ios</string>
	<key>PROJECT_ID</key>
	<string>brbr-app</string>
	<key>STORAGE_BUCKET</key>
	<string>brbr-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378708515483:ios:e6c9173321cb691f</string>
	<key>DATABASE_URL</key>
	<string>https://brbr-app.firebaseio.com</string>
</dict>
</plist>